.fade-y.delighter {
  transition: all 0.6s ease-out;
  transform: translateY(3%);
  opacity: 0;
}

.fade-y.delighter.started {
  transform: none;
  opacity: 1;
}

.fade-x.delighter {
  transition: all 0.6s ease-out;
  transform: translateX(3%);
  opacity: 0;
}

.fade-x.delighter.started {
  transform: none;
  opacity: 1;
}

.fade-xl.delighter {
  transition: all 0.6s ease-out;
  transform: translateX(-3%);
  opacity: 0;
}

.fade-xl.delighter.started {
  transform: none;
  opacity: 1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif !important;
}

h2 {
  font-weight: bolder;
}

.tjanster #primary {
  background-color: #EDEDED;
}

body {
  overflow-x: hidden;
}
body header {
  height: 75px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: 0.3s;
}
body header.active {
  background: #f8f8f8;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
body header.active a {
  color: #222 !important;
}
body header .logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .logo a .header-logo {
  background-image: url(../img/logo-white.png);
  height: 50px;
  width: 120px;
  background-size: cover;
}
body header .logo a .header-logo.active {
  background-image: url(../img/logo-black.png) !important;
}
body header .header-inner {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
body header .nav ul {
  display: flex;
}
body header .nav ul li {
  list-style: none;
  padding: 25px;
}
body header .nav ul li a {
  color: snow;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}
body header .nav ul li a:hover {
  color: black;
  text-decoration: none;
}
body header .nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.4s;
  text-underline-position: right under;
}
body header .nav ul li a:hover::after {
  width: 100%;
  cursor: pointer;
}
body header .dropdown .btn-secondary {
  background-color: transparent;
  border: 0;
  margin: 15px;
}
body header .support-btn {
  margin: 15px;
  height: 40px;
  background-color: #1a1a1a;
  border: 0;
  border-radius: 25px;
  font-size: 14px;
  width: 150px;
}

.wrapper {
  width: 100%;
  max-width: 100%;
}
.wrapper #primary {
  margin-bottom: -7px;
}

.section-start {
  background-color: white;
}
.section-start > section {
  padding-top: 150px;
}

.scroller {
  width: 12px;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 34px;
  animation: scroller 1500ms ease-out infinite;
}

.scroll-container {
  width: 30px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 15px;
  position: relative;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}
.wave-bottom {
  padding: 100px 0 164px 0;
  position: relative;
  background-color: #222;
}
.wave-bottom.wave-bottom:after, .wave-bottom.wave-top:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 64px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
}
@media (max-width: 768px) {
  .wave-bottom.wave-bottom:after, .wave-bottom.wave-top:after {
    height: 32px;
    background-size: 100% 32px;
  }
}
@media (max-width: 349px) {
  .wave-bottom.wave-bottom:after, .wave-bottom.wave-top:after {
    height: 16px;
    background-size: 100% 16px;
  }
}
.wave-bottom.wave-bottom:after {
  bottom: 0;
  background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=0deg");
}
.wave-bottom.wave-top:after {
  top: 0;
  background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=180deg");
}

.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
}
.hero-image video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.hero-image .text-animation {
  display: none;
}

.player .vp-sidedock {
  display: none !important;
}

.player .vp-controls-wrapper,
.player .vp-video-wrapper {
  display: none !important;
}

.hero-text-container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.hero-text-container .hero-title {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.hero-text-container h1 {
  font-size: 4x5em;
  text-align: center;
  width: 60%;
  min-width: 350px;
  font-weight: 900;
  color: #EBE2CD;
}

.arrow-scroll {
  color: white;
  width: 22px;
  margin: 0 auto;
  display: block;
  position: absolute;
  font-size: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  border-radius: 17px;
  border: 1px solid white;
  border: separate;
  margin-bottom: 30px;
}

section article {
  background-color: #EDEDED;
}
section .section-wrapper {
  padding: 100px 0px 150px 0px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
section .section-wrapper h2 {
  text-align: center;
  width: 100%;
}
section .section-wrapper p {
  margin-bottom: 0.5rem;
}
section .section-wrapper ul {
  width: max-content;
  padding-inline-start: 20px;
}
.first-section div h1 {
  padding-bottom: 20;
}

.second-section .second-section-box {
  width: 80%;
  background-color: #222 !important;
  height: 200px;
  position: absolute;
}
.second-section .second-section-box h1 {
  color: white;
  padding-top: 30px;
  width: 100vw;
  position: absolute;
}
.second-section .second-section-box h1 strong {
  position: absolute;
  left: 0;
  right: 0;
}
.second-section .section-wrapper {
  width: 65%;
  margin-top: 75px !important;
}
.second-section .section-wrapper .our-expertise {
  width: 100%;
}
.second-section .section-wrapper .our-expertise .clients-container {
  text-align: center;
}
.second-section .section-wrapper .our-expertise .clients-container video {
  object-fit: cover;
}
.second-section .section-wrapper .our-expertise h3 {
  padding-top: 20px;
}
.third-section {
  padding-bottom: 75px;
}
.third-section h1 {
  color: white;
  padding-top: 30px;
  width: 100vw;
  position: absolute;
  z-index: 1000;
}
.third-section h1 strong {
  position: absolute;
  left: 0;
  right: 0;
}
.third-section .third-section-box {
  width: 80%;
  background-color: #222 !important;
  height: 200px;
  position: absolute;
  right: 0;
}
.third-section h1 {
  text-align: center;
  padding-bottom: 50px;
}
.third-section .container {
  margin-top: 200px;
}
.third-section .projects-container {
  display: flex;
}
.third-section a {
  width: 100%;
}
.third-section a .clients-container {
  height: 300px;
  background-size: cover;
}
.third-section a .clients-container img {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.3s ease-in;
  opacity: 1;
  font-size: 3em;
}
.third-section a .clients-container p {
  opacity: 0;
}
.third-section a .clients-container:hover {
  cursor: pointer;
  transition: 0.3s ease-in;
}
.third-section a .clients-container:hover img {
  display: none;
  transition: 0.3s ease-in;
}
.third-section a .clients-container:hover p {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  transition: 0.3s ease-in;
  opacity: 1;
  background: rgba(30, 30, 30, 0.7);
}

.fourth-section {
  background-color: #222;
}
.fourth-section .section-wrapper {
  padding-bottom: 0px;
}
.fourth-section .fourth-section-content {
  width: 50%;
}
.fourth-section .fourth-section-content h2 {
  color: white;
}

.fifth-section {
  background-color: white !important;
}
.fifth-section section {
  background-color: white !important;
}
.fifth-section .personbild {
  margin: 0 auto;
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.fifth-section .section-wrapper .row {
  margin: 25px 0px;
}
.fifth-section .citat-wrapper {
  width: 90% !important;
  margin: 0 auto;
  display: flex;
}
.fifth-section .citat-wrapper .citat-text {
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  padding-bottom: 25px;
  background-color: #222;
  margin-top: -7px;
}
footer .logo-img {
  width: 230px;
  margin: 0 auto;
  display: block;
  padding-top: 30px;
}
footer h2 {
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 1.5rem;
}
footer .footer-container {
  width: 65%;
  margin: 0 auto;
  padding: 50px 0px;
}
footer .footer-container .icon-wrapper {
  color: white;
  width: 200px;
  margin: 0 auto;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
footer .footer-container .icon-wrapper a {
  color: white !important;
}
footer .footer-container .icon-wrapper a i {
  font-size: 2.5em;
  color: white;
}
footer .footer-container .side-col {
  text-align: center;
  color: white;
}

.sixth-section {
  background: #222;
  clip-path: url(#wave);
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 150px;
  margin-top: -75px;
}

.seventh-section {
  background: #222;
  color: white;
  font-weight: bold;
  padding-top: 150px;
  margin-top: -75px;
}
.seventh-section h2 {
  text-align: center;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table-cell;
  width: auto;
  background: #EBE2CD;
  padding: 9px 35px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  color: #222;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #716B65;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  outline: 0;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #222;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium {
  max-width: 100% !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-row:last-of-type {
  max-width: 100% !important;
}

.copyright {
  text-align: center;
  color: white;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wave-test {
  background: #EDEDED;
  clip-path: url(#wave);
  margin-top: -20vh;
}

.services-first-section {
  width: 100vw;
  padding-bottom: 100px;
}
.services-first-section .container > * {
  padding-top: 100px;
}
.services-first-section .container .black-box {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  width: 50%;
  font-size: calc(24px + (26 - 10) * ((100vw - 900px) / (1100 - 300)));
  font-weight: bold;
  min-width: 70px;
}
.services-first-section .container .services-first-container .service-first-title h1 {
  font-weight: bold;
}

.services-second-section {
  background: #222;
  margin: 0 auto;
}
.services-second-section h1 {
  padding: 50px 0px;
  display: block;
  color: White;
}
.services-second-section .container-fluid {
  padding-top: 100px;
  max-width: 70%;
  margin: 0 auto;
}
.services-second-section .container-fluid h1 {
  color: white;
}
.services-second-section .case-container {
  padding: 50px 0px;
}
.services-second-section .case-container:nth-child(odd) {
  flex-flow: row-reverse;
}
.services-second-section .case-container .clients-text-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: white;
}
.services-second-section .clients-container {
  height: 100%;
  background-size: cover;
}
.services-second-section .clients-container img {
  height: 75px;
  margin: 0 auto;
  display: block;
}

.tjanster-hero-image {
  background-color: #EBE2CD;
}
.tjanster-hero-image .flex-container {
  height: 90vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tjanster-hero-image .flex-container h1 {
  font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));
}
.tjanster-hero-image .row {
  width: auto;
}
.tjanster-hero-image .flex-item {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.tjanster-hero-image .container div > * {
  padding: 20px 0px;
}

.about-hero-image {
  height: 33vh;
  overflow: hidden;
}

.about-first-section {
  background-color: #f8f8f8;
}

.about-second-section {
  background-color: #2B2B2B;
}
.about-second-section .about-first-container {
  color: white;
}
.about-second-section .container > * {
  padding: 20px 0px;
}
.about-second-section .container .row:nth-child(2n+2) {
  flex-direction: row-reverse;
}
.about-second-section .about-us-img {
  border: 20px solid #393838;
  background-size: cover;
}

.skew-bg {
  background: #fff;
  padding: 200px 0;
  transform: skew(0deg, -5deg);
  margin-top: -400px;
}
.skew-bg .content {
  transform: skew(0deg, 5deg);
  text-align: center;
}
.skew-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skew-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #aeaeae;
}

.blogg-hero-image {
  height: 95vh;
  background-color: #222;
}
.blogg-hero-image .flex-container {
  height: 90vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.blogg-hero-image .flex-container h1 {
  font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));
  color: white;
}
.blogg-hero-image .row {
  width: auto;
}
.blogg-hero-image .flex-item {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
.blogg-hero-image .container div > * {
  padding: 20px 0px;
}

.blog-container {
  padding-bottom: 100px;
  margin-top: -150px;
  display: block;
  z-index: 100;
}
.blog-container .blog-item {
  border: 10px solid white;
  background-color: #fff;
  margin-top: 10px;
  border-bottom: 1px solid #EBE2CD;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.blog-container .blog-item .blog-img-container {
  padding-left: 0;
}
.blog-container .blog-item .more-link {
  color: #222;
  text-decoration: underline;
  text-align: right;
  width: 100%;
  display: block;
  text-underline-position: under;
}
.blog-container .blog-item .background-page-img {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.blog-container .blog-item .text-part {
  padding: 25px 10px;
}
.blog-container .blog-item h1 {
  font-weight: bold;
}
.blog-container .blog-item h5 {
  color: lightgrey;
  font-size: 14px;
}
.blog-container .blog-item p {
  letter-spacing: 1px;
}

.blog-page {
  background-color: #f8f8f8;
}

.single-blog-page {
  padding-bottom: 100px;
}
.single-blog-page img {
  width: 100vw;
}

.project-content {
  padding-top: -100px;
  padding-bottom: 150px;
  position: relative;
}
.project-content .wp-block-embed iframe {
  margin: 0 auto;
  display: block;
}
.project-content .wp-block-columns .wp-block-column {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 1200px) {
  section .section-wrapper {
    width: 90% !important;
  }

  .citat-wrapper {
    width: 90% !important;
    margin: 0 auto;
  }

  .hero-image {
    background-color: #EBE2CD;
  }
  .hero-image video {
    display: none;
  }
  .hero-image .text-animation {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    align-items: center;
    font-size: 1.8em;
    margin: 0 auto;
    letter-spacing: 4px;
  }
}
@media only screen and (max-width: 1024px) {
  .third-section .projects-container .col:nth-child(2) {
    margin: 15px 0px;
  }
  .third-section .projects-container .col:nth-child(3) {
    padding-bottom: 30px;
  }

  .hero-text-container .hero-title {
    width: 100%;
    text-align: center;
  }
  .hero-text-container .hero-title h1 {
    width: 100%;
    font-size: 4em;
  }

  .fourth-section .section-wrapper .fourth-section-content {
    flex-direction: column;
    width: 50%;
  }

  body.mob-menu-overlay, body.mob-menu-slideout, body.mob-menu-slideout-over, body.mob-menu-slideout-top {
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 991px) {
  .blog-container .blog-item .blog-img-container {
    height: 300px;
  }

  .section-start > section {
    padding-top: 50px;
  }

  .about-second-section .container img {
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  .second-section .second-section-box {
    width: 100%;
    background-color: #222 !important;
    height: 200px;
    position: absolute;
  }

  .third-section .third-section-box {
    width: 100%;
  }

  .services-second-section .container-fluid {
    max-width: 90%;
  }

  .services-first-container .service-first-title h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  .services-second-section .container-fluid {
    padding-top: 25px;
    padding: 20px 0px;
  }
  .services-second-section h1 {
    padding: 20px 0px;
  }
  .services-second-section .case-container {
    padding: 20px 0px;
  }

  .citat-wrapper {
    display: block !important;
  }

  .fifth-section .personbild {
    margin: 0 auto;
    height: 175px;
    max-width: 175px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .fifth-section p {
    text-align: center !important;
  }

  footer h2 {
    padding-top: 30px;
  }
  footer .footer-container {
    padding-top: 0px;
  }
  footer .footer-container .icon-wrapper {
    color: white;
    width: 200px;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
  }
  footer .footer-container .icon-wrapper i {
    font-size: 2.5em;
  }
  footer div {
    padding: 10px 0px 10px 0px;
  }
  footer div ul,
footer div p {
    margin-bottom: 0px;
  }

  .our-team-img-info {
    padding-top: 0px;
  }
  .our-team-img-info p {
    text-align: center;
  }

  .first-section .section-wrapper .col-sm-12:nth-child(2) {
    padding-top: 25px;
  }

  .services-first-section {
    background: transparent;
    font-size: 1.5em;
  }

  .services-second-section {
    width: 100%;
  }
  .services-second-section .case-container {
    display: block !important;
    height: auto;
  }
  .services-second-section .case-container .col-sm-12 {
    height: 100%;
    text-align: center;
  }
}
.services-third-section {
  padding-bottom: 100px;
}
.services-third-section .case-container .clients-container {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.services-third-section .case-container .clients-container img {
  border: 10px solid white;
}
.services-third-section .case-container:nth-child(2n+2) {
  flex-direction: row-reverse;
}
.services-third-section .case-container:nth-child(2n+2) .clients-container {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .hero-text-container .hero-title h1 {
    width: 100%;
    font-size: 3em;
  }

  .personal-box {
    padding-top: 15px;
  }
}
.swap-view {
  position: relative;
}

.swap-view:hover .navigation {
  opacity: 1;
}

#hero-word-switcher {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  white-space: nowrap;
  margin-right: -5px;
}

#hero-word-switcher.in strong {
  -webkit-animation: leave-word 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-origin: center 35px;
  -moz-animation: leave-word 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform-origin: center 35px;
  transform-origin: center 35px;
}

@-webkit-keyframes leave-word {
  0% {
    -webkit-transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}
@-moz-keyframes leave-word {
  0% {
    -moz-transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    -moz-transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}
@keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}
#hero-word-switcher.in strong.active {
  -webkit-animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes enter-word {
  0% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes enter-word {
  0% {
    -moz-transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
}
@keyframes enter-word {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
#hero-word-switcher strong {
  visibility: hidden;
  left: 0;
}

#hero-word-switcher strong.active {
  visibility: visible;
  position: absolute;
}

.subtitle {
  text-transform: uppercase;
  color: #7f8c8d;
  letter-spacing: 0.2em;
  font-size: 15px;
}

hr.subtle {
  background: -webkit-radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
  background: -moz-radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
  background: radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
}

/*# sourceMappingURL=main.css.map */
