@import "_transitions";
@import "_colors";
@import "_reset";
@import "_fonts";
@import "_owl.carousel";

h1,
h2,
h3,
h4 {
  font-family: $primary !important;
  padding-bottom:1rem;
}

html {
  overflow-x: hidden !important;;
}

h2 {
  font-weight: bolder;
}
body, html{
  margin:0;
  padding:0;
}

p {
  margin-bottom:0 !important;
}

* {
  font-family: $primary;

}
a:focus {
  text-decoration:none;
}
a {
  text-decoration:none !important;
}

#primary {
  // margin-top: 75px;
  font-family:$primary;
}


.tjanster #primary {
  background-color: #EDEDED;
}

body {
  overflow-x: hidden;
  header {
    height: 75px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: 0.3s;

    &.active {
      background: $offWhite;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      transition: 0.3s;

      & a {
        color: #222 !important;
      }
    }

    .logo {
      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-logo {
          background-image: url(../img/logo-white.png);
          height: 50px;
          width: 120px;
          background-size: cover;

          &.active {
            background-image: url(../img/logo-black.png) !important;
          }
        }
      }
    }

    .header-inner {
      width: 90%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    img {
    }

    .nav {
      ul {
        display: flex;

        li {
          list-style: none;
          padding: 25px;

          a {
            color: snow;
            font-family: $primary;
            font-weight: $bold;

            &:hover {
              color: black;
              text-decoration: none;
            }

            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: black;
              transition: width 0.4s;
              text-underline-position: right under;
            }

            &:hover::after {
              width: 100%;
              cursor: pointer;
            }
          }
        }
      }
    }

    .dropdown {
      .btn-secondary {
        background-color: transparent;
        border: 0;
        margin: 15px;
      }
    }

    .support-btn {
      margin: 15px;
      height: 40px;
      background-color: #1a1a1a;
      border: 0;
      border-radius: 25px;
      font-size: 14px;
      width: 150px;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 100%;

  #primary {
    margin-bottom: -7px;
  }
}

.section-start {
  background-color:#EDEDED;

  & > section {
    padding-top: 150px;
  }
}

.scroller {
  width: 12px;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 34px;
  animation: scroller 1500ms ease-out infinite;
}

.scroll-container {
  width: 30px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 15px;
  position: relative;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }

  5% {
    top: 4px;
  }

  32% {
    bottom: 4px;
  }

  66% {
    top: 34px;
    bottom: 4px;
  }

  100% {
    top: 4px;
    bottom: 34px;
  }
}
.wave-bottom {
  // background-image: linear-gradient(0deg, #5ED9FF 0%, #416AD9 100%);
  padding: 100px 0 164px 0;
  position: relative;
  background-color: #222;
  &.wave-bottom,
  &.wave-top {
    &:after {
      content: "";
      display: block;
      margin: 0;
      padding: 0;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 100% 64px;
      position: absolute;
      left: 0;
      width: 100%;
      height: 64px;
      @media (max-width: 768px) {
        height: 32px;
        background-size: 100% 32px;
      }
      @media (max-width: 349px) {
        height: 16px;
        background-size: 100% 16px;
      }
    }
  }
  &.wave-bottom {
    &:after {
      bottom: 0;
      background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=0deg");
    }
  }
  &.wave-top {
    &:after {
      top: 0;
      background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=180deg");
    }
  }
}
.hero-image {
  // background-image: url('../img/scenic-water.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .text-animation {
    display: none;
  }
}

.player .vp-sidedock {
  display: none !important;
}

.player .vp-controls-wrapper,
.player .vp-video-wrapper {
  display: none !important;
}

.hero-text-container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  .hero-title {
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }

  h1 {
    font-size: 4x5em;
    text-align: center;
    width: 60%;
    min-width: 350px;
    font-weight: $bold;
    color: $beige;
  }
}

.arrow-scroll {
  color: white;
  width: 22px;
  margin: 0 auto;
  display: block;
  position: absolute;
  font-size: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  border-radius: 17px;
  border: 1px solid white;
  border: separate;
  margin-bottom: 30px;
}

section {
  // background-color: $offWhite;
  article {
    background-color:#EDEDED;
  }
  .col {
  }

  .section-wrapper {
    padding: 100px 0px 150px 0px;
    width: 60%;
    margin: 0 auto;
    // max-width:960px;
    justify-content: space-between;

    h1 {
    }

    h2 {
      text-align: center;
      width: 100%;
    }

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      width: max-content;
      padding-inline-start: 20px;
    }
    div * {
      // padding-top:10px;
    }
  }
}

.first-section {
  div {
    h1 {
      padding-bottom: 20;
      font-size:3rem;
    }
  }
}


.second-section {
  .second-section-box {
    width: 80%;
    background-color:#222 !important;
    height:200px;
    position:absolute;
    h1 {
      color:white;
      padding-top:30px;
      width: 100vw;
      position: absolute;
      strong {
        position:absolute;
        left: 0;
        right: 0;
      }
    }
  }
  .section-wrapper {
    width: 50%;
    margin-top:75px !important;
    .our-expertise {
      width: 100%;
      
      .vara-omraden {
        display:block;
        font-family:$primary;
        
        video {
          object-fit: cover;
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
        text-align:center;

      }
      h3 {
        padding-top:20px;

      }
      .middle-animation {
        // margin-top: -50px;
      }
    }
  }
}
/* Testimonial CSS Code Start */
/* background */
.carousel-bg {
  background-color: none;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
}
/* text-style */
.testimonial-style .testimonial-caption-style {
  font-family: $primary;
  font-weight: 400;
  font-size: 24px;
  color: #354052;
  line-height: 30px;
  bottom: 40%;
  text-shadow: none;
  top: 10%;
  background:white;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .carousel-info-container {
    width:100%; margin:0 auto;
    img {
      max-width:150px;
    }
    .testimonial-authors {
      align-items: center;
    justify-content: center;
    display: flex;
    }
  }
  .carousel-container {
    width:75%;
    margin:0 auto;
    padding-top:25px;
    padding-bottom:15px;
    p {
      font-size:22px;
    }
  }
}

.carousel-inner {
  padding-bottom: 200px;
}
.testimonial-style .testimonial-authors {
  font-family: $primary;
  font-weight: 700;
  font-size: 20px;
  color: #354052;
  line-height: 30px;
}
/* carousel-height-control */
.testimonial-style .carousel-inner > .item {

  height: 450px;
}
/* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-style .carousel-control {
  color: #354052;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}
/* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.carousel-indicators {
  width:70% !important;
  bottom:-40px !important;
}
.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
       filter: grayscale(100%);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
  width:10px;
  height:10px;
}
/* Textimonial CSS Code End */
.third-section {
  padding-bottom:75px;
  h1 {
    color:white;
    padding-top:30px;
    width: 100vw;
    position: absolute;
    z-index: 1000;
    strong {
      position:absolute;
      left: 0;
      right: 0;
    }
  } 
  .case-container {
    .project-item {
      border:20px solid #fff;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      background: white;
    }
    .clients-container {
      .hover-this-project {
        opacity:0;
        position:absolute;
        top:0;
        left: 0;
        right: 0;
        color:white;
        height:100%;
        display: flex;
        align-items: center;
        .project-box-container {
          width:90%;
          margin:0 auto;
          height:auto;
        }
        transition:0.3s ease-in-out;

      }
      &:hover .hover-this-project {
        opacity:1;
        transition:0.3s ease-in-out;
        cursor:pointer;
        background: rgba(0, 0, 0, 0.6);
        height:100%;

      }
      .projects-logga {
        max-height:35px;
        display:block;
        margin-left: auto;
      }
      button {
        float:right;
        background-color:transparent;
        border:0;
        outline:0;
        font-weight:bold;
        &:hover {
          color:#222;
        }
      }
    }
  }
  .third-section-box {
    width: 80%;
    background-color:#222 !important;
    height:200px;
    position:absolute;
    right:0;

  }
  h1 {
    text-align: center;
    padding-bottom: 50px;
  }
  .container {
    margin-top:125px;
  }
  .projects-container {
    // display: flex;
  }
a {
  width:100%;
  .projects-container {
    height: 300px;
    background-size: cover;

    img {
      display:block;
      margin:0 auto;
      justify-content: center;
      align-items: center;
      height: 100%;
      transition: 0.3s ease-in;
      opacity: 1;
      font-size: 3em;
    }
    p {
      opacity:0;
    }
    &:hover {
      cursor: pointer;
      transition: 0.3s ease-in;

        img {
          display:none;
          transition: 0.3s ease-in;

        }
      
         p {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        transition: 0.3s ease-in;
        opacity: 1;
        background: rgba(30, 30, 30, 0.7);
      }
    }
  }
}
/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

}

.fourth-section {
  background-color: #222;
  .section-wrapper {
    padding-bottom: 0px;
  }
  .fourth-section-content {
    width: 50%;
    h2 {
      color: white;
    }
  }
}

.fifth-section {
  section {
    background-color: #EDEDED !important;

  }
  background-color: #EDEDED !important;
  .personbild {
    // min-width: 150px;
    margin: 0 auto;
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
  }

  .section-wrapper .row {
    margin: 25px 0px;
  }

  .citat-wrapper {
    width: 90% !important;
    margin: 0 auto;
    display: flex;

    .citat-text {
      display: flex;
      align-items: center;
    }
  }
}

footer {
  width: 100%;
  padding-bottom: 25px;
  background-color: #222;
  margin-top: -7px;
  .logo-img {
    width: 230px;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
  }
  h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 1.5rem;
  }

  .footer-container {
    width: 65%;
    margin: 0 auto;
    padding: 50px 0px;

    .icon-wrapper {
      color: white;
      width: 200px;
      margin: 0 auto;
      justify-content: space-evenly;
      height: 100%;
      align-items: center;

      a {
        color: white !important;

        i {
          font-size: 2.5em;
          color: white;
        }
      }
    }

    .side-col {
      text-align: center;
      color: white;
    }
  }
}

.sixth-section {
  background: #222;
  clip-path: url(#wave);
  color:white;
  text-align:center;
  font-weight:bold;
  padding-top: 150px;
    margin-top: -75px;
}

.seventh-section {
  background: #222;
  // clip-path: url(#wave);
  color:white;
  // text-align:center;
  font-weight:bold;
  padding-top: 150px;
    margin-top: -75px;
  h2 {
    text-align:center;
  }
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonials {
    width:80%;
    margin: 0 auto;
    max-width:1240px;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table-cell; 
  width: auto;
  background: $beige;
  padding: 9px 35px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  color: #222;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom:80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item {
  img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
  }
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: $darkBeige;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
outline:0;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #222;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium {
  max-width:100% !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-row:last-of-type {
  max-width:100% !important;
}

.copyright {
  text-align: center;
  color: white;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.tjanster .services-first-section {
  .row:nth-child(2) {
    padding-left:300px;
  }
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.wave-test {
  background: #EDEDED;
  clip-path: url(#wave);
  // height: 500px;
  // background-color: white;
  margin-top: -20vh;

}
.services-first-section {
  width: 100vw;
  padding-bottom: 100px;
  .container {
    & > * {
      padding-top:150px;
    }
    .row {
      &:nth-child(even) {
        // flex-direction: row-reverse;
      }
    }
    .black-box {
      padding:20px;
      background-color:black;
      color:white;
      text-align:center;
      max-width:50%;
      float:right;
      font-size: calc(24px + (26 - 10) * ((100vw - 900px) / (1100 - 300)));
      font-weight:bold;
      min-width: 100px;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    }
    .services-first-container {
      .service-first-title h1 {
        font-weight: bold;
      }
    }
    
  }
}
.services-second-section {
  background: #222;
  margin: 0 auto;
  h1 {
    padding: 50px 0px;
    display: block;
    color:White;
  }
  .container-fluid {
    padding-top:100px;
    max-width:70%;
    margin:0 auto;
    h1 {
      color:white;
    }
  }
  .case-container {
    // height: 30vh;
    // min-height: 200px;
    padding:50px 0px;
    // &:nth-child(odd) {
    //   flex-flow: row-reverse;
    // }
    .clients-text-container {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;
      color:white;
    }
  }
  .clients-container {
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    img {
      // height: 75px;
      margin: 0 auto;
      display: block;
      min-width: 75px;
      max-height: 125px;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

.tjanster-hero-image {
  .flex-container {
    h1 {
      font-size: calc(44px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));

    }
    height: 90vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row {
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    // line-height: 20px;
    font-weight: bold;
    text-align: center;
}
  
  .container div {
    // height:100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    > *{
    // padding:20px 0px;
  }
  
  }
}
.case-hero-image {
  color:white;
  .flex-container {
    h1 {
      font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));

    }
    height: 50vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row {
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    // line-height: 20px;
    font-weight: bold;
    text-align: center;
}
  
  .container div {
    // height:100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    > *{
    // padding:20px 0px;
  }
  
  }
}
.pt-cv-wrapper img {
  width:100%;
}

.case-cgrid {
  padding-bottom:100px;
}

.pt-cv-title a {
  color:#222;
}

.pt-cv-wrapper .btn-success {
  font-weight: 600;
  background-color:#222;
  border:0 !important;
  &:hover {
    background-color:$darkBeige;
  }

}
.about-hero-image {
  background-image: url(../img/Exempel-studiosetup.jpg);
  background-position: center;
  background-size:cover;
  .about-filter {
    width:100vw;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .flex-container {
    color:white;
    h1 {
      font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
    }
    height: 80vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.about-first-section {
  background-color:#f8f8f8;
  .vilka-ar-vi {
    line-height:20px;
  }
}

.about-second-section {
  background-color:#222;
  .about-first-container {
    color:white;
  }
  .container {
    > *{
      padding:40px 0px;
    }
  .row:nth-child(2n+2) {
    flex-direction: row-reverse;
  }
  }
  .about-us-img {
    border:20px solid #393838;
    background-size:cover;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  }
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form * {
  font-weight:400 !important;
  font-family:$primary !important;
}
.skew-bg {
  background:#fff;
  padding: 200px 0;
  transform: skew(0deg, -5deg);
  margin-top: -300px;  
  
  .content{
    transform: skew(0deg, 5deg);

    text-align: center;
    
    .title{
      padding-top: 100px;
      font-weight: normal;
    }
    
    .text{
      width:60%;
      margin: 25px auto;      
      color: lighten(#222, 55);
    }
    
  } 
}
.blogg-hero-image {
  height:100vh;
  .flex-container {
    h1 {
      font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));
      color:white;
    }
    height: 75vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}
.row {
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    // line-height: 20px;
    font-weight: bold;
    text-align: center;
}
  background-color:#222;
  .container div {
    // height:100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    > *{
    padding:20px 0px;
  }
  
  }
}
.blog-container {
  padding-bottom:100px;
  margin-top:-150px;
  display:block;
  z-index:100;
  .blog-item {
    border:10px solid white;
    background-color:#fff;
    // padding:75px 0px;
    margin-top:10px;
    border-bottom:1px solid #EBE2CD;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    .blog-img-container {
      // height:300px;
      padding-left:0;
      padding-right: 0;
    }
    .more-link {
      color:#222;
      text-decoration: underline;
      text-align: right;
      width: 100%;
      display: block;
      text-underline-position: under;
    }
    .background-page-img {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .text-part {
      padding: 25px 10px;
    }
    h1 {
      font-weight:bold;
    }
    h5 {
      color:lightgrey;
      font-size:14px;
    }
    p {
      letter-spacing: 1px;
    }
  }
}


.project-content {
  // padding-top:-100px;
  // padding-bottom:150px;
  position:relative;
  margin-top:-100px;
  .wp-block-embed iframe {
    margin: 0 auto;
    display: block;
  }
  .wp-block-columns {
    .wp-block-column {
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

main {
  background-color:#EDEDED;
}

.blog-page {
  background-color:$offWhite;
  .case-grid {
    padding-bottom:50px;
  }
}

.single-blog-page {
  padding-bottom:150px;
  .blog-info {
    padding-top:20px;
  }
  h1 {
    font-weight:bold;
  }
  img {
    width:100vw;
  }
  .blog-content {
    padding-top:45px;
  }
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 1200px) {
  section .section-wrapper {
    width: 90% !important;
    padding: 50px 0px 50px 0px;
    h1 {
      font-size:2.2rem;
    }
    h3 {
      font-size:2rem;
    }
  }

  .citat-wrapper {
    width: 90% !important;
    margin: 0 auto;
  }

  .hero-image {
    background-color: $beige;
    video {
      display: none;
    }
    .text-animation {
      display: flex;
      font-family: $primary;
      align-items: center;
      font-size: 1.8em;
      margin: 0 auto;
      // letter-spacing: 4px;
      span {
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .third-section {
    .projects-container {
      // display: block !important;
      .col {
        &:nth-child(2) {
          margin: 15px 0px;
        }

        &:nth-child(3) {
          padding-bottom: 30px;
        }
      }
    }
  }

  .hero-text-container {
    .hero-title {
      width: 100%;
      text-align: center;

      h1 {
        width: 100%;
        font-size: 4em;
      }
    }
  }

  .fourth-section {
    .section-wrapper {
      .fourth-section-content {
        flex-direction: column;
        width: 50%;
      }
    }
  }
  body.mob-menu-overlay, body.mob-menu-slideout, body.mob-menu-slideout-over, body.mob-menu-slideout-top {
    padding-top:0px !important;
  }
}
.projekt-hero-image {
  background-image: url(../img/gtg.jpg);
  background-position: center;
  background-size:cover;
  .flex-container {
    font-weight:bold;
    h1 {
      font-size: calc(34px + (36 - 10) * ((100vw - 900px) / (1100 - 300)));
      color:white;
      font-weight:bold;
    }
    h4 {
      font-weight:bold;
    }
    height: 90vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}
}

@media only screen and (max-width: 991px) {
  .tjanster .services-first-section {
    .row:nth-child(2) {
      padding-left:0px;
    }
  }
  .services-third-section {
    padding-bottom: 300px !important;
  }
  .wave-test {
    background: #EDEDED;
    clip-path: url(#wave);
    margin-top: -10vh;
}
  .vara-omraden {
    margin-top:40px;
  }
  .third-section .case-container .project-item {
    margin-top:20px;
  }

  /* text-style */
  .testimonials {
    width:100%;
  }
.testimonial-style .testimonial-caption-style {
  font-family: $primary;
  font-weight: 400;
  font-size: 24px;
  color: #354052;
  line-height: 30px;
  bottom: 40%;
  text-shadow: none;
  z-index:0;
  top: 10%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .carousel-info-container {
    width:100%; margin:0 auto;
    img {
      width:90%
    }
    .testimonial-authors {
      margin-top:15px;
    }
  }
 
  .carousel-container {
    width:90%;
    margin:0 auto;
    padding-top:25px;
    p {
      font-size:12px;
    }
  }
}
  .third-section .case-container .clients-container {
    .hover-this-project .project-box-container {
      p:nth-child(0) {
        display:none;
      }
      font-size:0.7em;
      h2 {
        font-size:1em;
      }
  }
  }
  .sixth-section {
    padding-top:50px;
    clip-path: none;
    margin-top: -275px;
  }
  .services-second-section .clients-container img {
    margin-bottom: 10px;
    max-height: 75px;
  }
  .services-first-section .container > * {
    padding-top:70px;
  }
  .services-first-section .container {
    .black-box {
      width:75px;
      float: unset;
      margin: 0 auto;
      margin-bottom:35px;

    }
    .services-first-container {
      text-align:center;
      h1 {
        text-align:center;
      }
    }
  }
  .blogg-hero-image .flex-container {
    height:80vh;
  }
  .about-second-section .about-us-img {
    // height:300px;
  }
  .blogg-hero-image .container div > * {
    padding:0;
  }
  .clients-container {
    height: 100%;
    background-size: cover;
    // display: flex;
    align-items: center;
    // padding-top: 40px;
    img {
      // height: 75px;
      margin: 0 auto;
      display: block;
      // max-width: 75px;
    }
  }
  .blog-container {
    .blog-item {
      .blog-img-container {
        height:300px;
      }
    }
  }
  .section-start > section {
    padding-top:50px;
  }
  .about-second-section {
    .container {
      img {
        width:100%;
        display: block;
        margin:0 auto;
      }
    }
  }
  .second-section .second-section-box {
    width: 100%;
    background-color:#222 !important;
    height:200px;
    position:absolute;
  }
  .third-section {
    .container {
      margin-top:100px;
    }
    .third-section-box {
      width:100%;
      height:100px;
    }
  }
  .services-second-section .container-fluid {
    max-width:90%;
  }
  .services-first-container {
    .service-first-title h1 {
      font-weight: bold;
      font-size:2rem;
    }
  }
  .services-second-section {
    .container-fluid {
    padding-top:25px;
    padding:20px 0px;
    }
    h1 {
      padding:20px 0px;
      text-align:center;
    }
    .case-container {
    padding:20px 0px;
    }
  }
  section .section-wrapper {
  }

  .citat-wrapper {
    display: block !important;
  }

  .fifth-section {
    .personbild {
      // min-width: 150px;
      margin: 0 auto;
      height: 175px;
      max-width: 175px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
    }

    p {
      text-align: center !important;
    }
  }

  footer {
    h2 {
      padding-top: 30px;
    }

    .footer-container {
      padding-top: 0px;

      .icon-wrapper {
        color: white;
        width: 200px;
        margin: 0 auto;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;

        i {
          font-size: 2.5em;
        }
      }
    }

    div {
      padding: 10px 0px 10px 0px;

      ul,
      p {
        margin-bottom: 0px;
      }
    }
  }

  .our-team-img-info {
    // display:flex;
    padding-top: 0px;

    p {
      text-align: center;
    }
  }

  .first-section {
    .section-wrapper {
      .col-sm-12:nth-child(2) {
        padding-top: 25px;
      }
    }
  }
  .services-first-section {
    background: transparent;
    font-size:1.5em;
  }
  .services-second-section {
    width: 100%;

    .case-container {
      display: block !important;
      height: auto;
      .col-sm-12 {
        height: 100%;
        text-align:center;
        &:nth-child(1) {
          // height: 60%;
        }
        &:nth-child(2) {
          // height: 40%;
        }
      }
    }
  }
}

.services-third-section {
  padding-bottom:100px;
  .case-container {
    .bg-shadow{
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      img {
        border:10px solid white;
    
      }
    }
    &:nth-child(2n+2) {
      flex-direction: row-reverse;
      .clients-container {
        text-align:right;
     
      }
    }
  }
}
.services-first-section {
  .services-first-container  {
    h1 {
      font-weight: bold;
      font-size:2rem;
      text-align: left;
    }
    h1:nth-child(2) {
      text-align:right !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .hero-text-container {
    .hero-title {
      h1 {
        width: 100%;
        font-size: 3em;
      }
    }
  }

  .personal-box {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 320px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}

.swap-view {
  position: relative;
}

.swap-view:hover .navigation {
  opacity: 1;
}

#hero-word-switcher {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: width 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  white-space: nowrap;
  margin-right: -5px;
}

#hero-word-switcher.in strong {
  -webkit-animation: leave-word 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-origin: center 35px;
  -moz-animation: leave-word 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform-origin: center 35px;
  transform-origin: center 35px;
}

@-webkit-keyframes leave-word {
  0% {
    -webkit-transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}

@-moz-keyframes leave-word {
  0% {
    -moz-transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  100% {
    -moz-transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  100% {
    transform: rotateX(-90deg);
    visibility: visible;
    opacity: 0;
  }
}

#hero-word-switcher.in strong.active {
  -webkit-animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: enter-word 300ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes enter-word {
  0% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}

@-moz-keyframes enter-word {
  0% {
    -moz-transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
}

@keyframes enter-word {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

#hero-word-switcher strong {
  visibility: hidden;

  left: 0;
}

#hero-word-switcher strong.active {
  visibility: visible;
  position: absolute;
}

.subtitle {
  text-transform: uppercase;
  color: #7f8c8d;
  letter-spacing: 0.2em;
  font-size: 15px;
}

hr.subtle {
  background: -webkit-radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
  background: -moz-radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
  background: radial-gradient(#7f8c8d, rgba(127, 140, 141, 0) 60%);
}
